#spanMyName{
  color         :dodgerblue    ;
  font-weight   :bold          }
h2{
  font-size     :1.4em         }
h3{
  margin-top    :2em           ;
  font-size     :1.1em         }
a{color         :blue          }
a span:before{
  color         :orchid        ;
  font-size     :1.2em         ;
  vertical-align:-.1em         ;
  font-weight   :bold          ;
  display       :inline-block  ;
  cursor        :pointer       }
a span:before{
  content       :'\279c'       ;
  transform     :rotate(-45deg)}
.upArrow:before{
  display       :inline-block  ;
  content       :'\279c'       ;
  transform     :rotate(-90deg)}
#inlineLinks a{
  margin-right  :.75em         }


