/* CP _DoFullRefresh */

.parallel, .parallel2{font-weight:bold     }
.parallel{            color      :limegreen}
.parallel2{           color      :fuchsia  }

/* example 1 */
#Ex01{              position    :relative    }
#Ex01p1,#Ex02p1,#Ex02p2,#Ex03p1,#Ex03p2,#Ex04p1{
                    width       :200px       ;
                    background  :lightblue   ;
                    font-size   :10px        ;
                    line-height :1em         }
#Ex01p1,#Ex02p1,#Ex03p1{margin-top:10px      }
#Ex01p1{            padding-left:7px         ;
                    width       :193px       } 
/* ^So it aligns horizontally with examples below, 
in which i made struts visible*/
#Ex01p1s1{          font-size   :3em         }
/* Controls: */
#Ctr01 p:first-of-type      {
  margin-bottom:.2em        }
#Ctr01p1s1,#Ctr01P2s1       {
  display      :inline-block;
  width        :7.3em       }
#Ctr01 select{
  width        :7em         }
/* Move the disclosure up a line to group with the eample above it: */
#Ctr01 {margin-bottom:1em}
#Note01{margin-bottom:2em}

/* example 2 */
#Ex02p2{            background:cornflowerblue}
#Ex02p1s1,#Ex02p2s1,#Ex03p1s1,
#Ex03p2s1,#Ex04p1s1,#Ex04p1s3/*struts*/      {
                    background:#ffff80       ;
                    display   :inline-block  }
#Ex02p1s2,#Ex02p2s2,
#Ex03p1s2,#Ex03p2s2,#Ex04p1s2/*inline boxes*/{
                    font-size :3em           ;
                    background:pink          ;
                    display   :inline-block  }

/* example 3 */
#Ex03p1{  margin-bottom:-7px            }
#Ex03p1s1{visibility   :hidden          }
#Ex03p2s2{background   :rgba(255,0,0,.5)}

/* example 4 */
#Ex04  {  position   :relative}
#Ex04p1{  line-height:1       ;
          margin     :5px 0   }
#Ex04p1s2{width      :185px   ;
          display    :inline  ;
          background :#40bf77}
#Ctr04{ /* Turn off most .controls styling, since only 1 element: */
  background:none;
  border    :none;
  padding   :0   }

/* example 5 */
#Ex05,#Ex06,#Ex07p1,#Ex08p1{
          background :lightblue} 
/* Setting the size on the p & 2nd & 3rd spans, so 1st span acts as strut - 
if I set size on the 3 spans, 1st span differs from p */
#Ex05s1,#Ex06,#Ex06s2,
#Ex06s3, #Ex07p1,#Ex07p1s2,
#Ex07p1s3,#Ex07p1s4           {
          font-size  :2em     } 

/* example 6 */
#Ex06{  margin-top :10px        }
#Ex06s3{display    :inline-block} 
/* ^Because in following note, checkbox shows this span's inline-box - 
and even at lh:normal, inline box <> content box because this is freeserif, 
which has a line-gap. */

/* example 7 */
.Ctr07s1,.Ctr07s2,.Ctr07s3{font-weight:bold}
.Ctr07s1{background    :peru      }
.Ctr07s2{background    :pink      }
.Ctr07s3{background    :#ffff80      }

#Ex07d1{            position      :relative     }
#Ex07p1{            line-height   :1em          }
#Ex07p1{            margin        :20px 0 40px 0} 
#Ex07p1s1,#Ex07p1s5{background    :#ffff80      }
#Ex07p1s2,#Ex07p1s4{background    :pink         }
#Ex07p1s3{          background    :peru         }
#Ex07p1s1,#Ex07p1s2,#Ex07p1s3     {
                    display       :inline-block }
#Ex07p1s3{          vertical-align:bottom       }
#Ex07p1s5,#Ex07p1s4{display       :none         } 
/* ^Used to show yellow/green inline box height. */

/* example 8 */
#Ex08p1{            font-size     :10px         ;
                    width         :200px        ;
                    line-height   :1em          }
#Ex08p1s1{          font-size     :3em          ;
                    line-height   :1em          }



