/* example 1 */
#Ex01{         background :lightblue;
               width      :11em     }
#Ex01  span{   background:#40bf77   }
#Ex01s1{       line-height:3        }
#Ex01s2{       width      :6em      }

/* example 2 */
#Ex02{         background :lightblue;
               font-size  :80px     }
#Ex02s1{       background :#ffff80  ;
               display    :none     } 
#Ex02s2{       background :#40bf77 ;
               font-size  :50px     ;
               line-height:normal   }

#Ctr02d1{   display    :flex        }
#Ctr02p1{   display    :inline-block;
            margin-left:.5em        ;
            line-height:1.4         }
#Ctr02optDisplay1lbl, 
#Ctr02optDisplay2lbl{border-radius  :.2em         ;
                     padding        :0 .2em       ;
                     color          :unset        ;
                     text-decoration:unset        }
#Ctr02optDisplay1lbl{background     :#40bf77      }
#Ctr02optDisplay2lbl{background     :pink         } 
#Ctr02slider1{       width          :200px        }
#Ctr02spTriangles{   color          :rgba(0,0,0,0);
                     position       :relative     }
#Ctr02spTriangles span{display      :inline-block ;
                     position       :absolute     ;
                     top            :4px          ;  
                     pointer-events :none         }
#Ctr02spTriangles span:first-of-type{left   : 71px  }
#Ctr02spTriangles span:last-of-type {left   :111px  }
#Ctr02p2{                            display:none   }
#Ctr02p2 label:nth-of-type(3n){      color  :crimson}

/* Ruler */
#ruler{    display    :none     ;
           position   :fixed    ;
           top        :40%      ;
           left       :50%      ;
           background :white    ;
           border     :1px solid;
           white-space:normal   ;
           z-index    :1        }
.rW1{      height     :1px      }
.rW9{      height     :9px      }
.rGrey{    height     :9px      ;
           background :grey     ;
           font-size  :8px      }
.r2  {background:black;height:1px;width: 2px}
.r10 {background:black;height:1px;width: 5px}
.r20 {background:black;height:1px;width:10px}
.r50 {background:red  ;height:1px;width:15px}
.r100{background:red  ;height:1px;width:25px}

/* example 3 */
#Ex03{         position    :relative    }
#Ex03p{        background  :lightblue   ;
               font-size   :70px        }
#Ex03s{        background  :#40bf77    ;
               border-style:solid       ;
               border-width:0           }
#Ctr03 span{   display     :inline-block;
               width       :6em         }

/* example 4 */
#Ex04{         position    :relative    }
#Ex04p{        font-size   :1.3em       ;
               line-height :1           ;
               background  :lightblue   ;
               width       :9.3em       }
#Ex04s{        background  :#40bf77    ;
               padding     :4px         }
#Ctr04 span{   display     :inline-block;
               width       :6em         }





