*      {margin         :0            ;
        padding        :0            ;
        box-sizing     :border-box   }
html   {font-family    :sans-serif   ;
        font-size      :0.9375em     } /* 15px; 16px sans is just barely too big */
body   {padding        :.5em         ;
        padding-bottom :7em          ;
        max-width      :40em         ;
        margin         :auto         }
p, pre, ul, ol, hr, blockquote, table {
        margin         :1em 0        }
.noPMarg p, section p{ /* Turn off <p> pargins. */
        margin         :0            } 
ul ul, ul ol, ol ol, ol, ul {
        margin         :0            }
h1, h2, h3, h4, h5, h6{
        margin         :2rem 0 1rem 0}
body>*:first-child{
        margin-top     :0            }
ul,ol  {padding-left   :2em          }

/* pre & table */
pre     {display        :table              } 
pre,code{font-family    :monospace,monospace;
         font-size      :.92em              }
pre code{font-size      :inherit            } /* Don't compound the .92 em; applies to markdown's <pre><code> blocks*/
table   {border-collapse:collapse           }
th, td  {text-align     :left               ;
         padding-right  :1.5em              }

/* Controls / <input>s: */
input, textarea, select, button 
/* Button text not scaling up on phone:
   Elements with browser font 'small-controls' have absolute font-size,
   computed value = 13.333px.  With html effective fs:15px (see above), 
   making these elements fs:.89em is equivalent (.89 * 15 = 13.35), 
   and then they scale when I scale html, in media queries: */
       {font-size      :.89em        } 
label  {color          :blue         ;
        text-decoration:underline    ;
        cursor         :pointer      }
/* Checkboxes seem weirdly high to me; lower: */
input[type=checkbox]{transform:translate(0,.1em)} 
/* Range is 21px.  At em=15px, line-height:normal, that expands the line.
   Making it 1.1em keeps it within normal line-height, but it's still high.
   .8em centers it vertically with text and scales well. */
input[type=range   ]{height:.8em}

@media                  (min-resolution :120dpi        ) {
html                    {font-size      :1.3em         } 
input[type=checkbox]    {transform      :scale(1.4,1.4)}
input[type=radio   ]    {transform      :scale(1.6,1.6);
                         margin         :0 .1em 0 .5em } 
input[type=range   ]    {transform      :scale(1,1.4) 
                                         translate(0,0)} }

/* disclosures */
/* Hide fouc before disclosure is processed: */
.discloseC:before{
  content:''          ;
  display:inline-block;
  height :100vh       }
.discloseC~.discloseC:before{ /* Only need 1 100vh blank zone. */
  content:unset       }

.disclosure            {transition      :height 1s            }
.disclosureClosed      {overflow        :hidden               }
.disclosureTitle       {cursor          :pointer              ;
                        color           :teal                 }
.disclosureTitle:before{border-style    :solid                ; 
                        content         :''                   ;         
/* Colored top border + transparent l/r/b borders creates disclosure triangle: */  
                        border-color    :transparent          ;  
                        border-top-color:deeppink             ;
                        border-width    :.6em .35em .1em .35em;
                        display         :inline-block         ;
                        margin-right    :.2em                 ;
/* When opening / closing disclosure and changing triangle color,
   emulate a diode receiving / releasing charge: fade in to pink quickly 
   with Bezier curve; in next rule, with inverse curve, fade out to teal slowly: */
                        transition      :border-color .4s 
                                         cubic-bezier(.2,.8,.4,.8), 
                                         transform    .4s         }
.disclosureClosed > 
.disclosureTitle:before{transform       :rotate(-90deg) 
                                         translate(0,.1em)        ;
                        border-top-color:teal                     ;
                        transition-timing-function:
                                         cubic-bezier(.8,.2,.8,.4), 
                                         ease                     }
.disclose, .discloseC, 
.disclosure{            margin          :1em 0                    }
.disclosure > 
*:first-child{          margin-top      :0                        }
.disclosure > 
*:last-child {          margin-bottom   :0                        }
.disclosureMin{         color           :teal                     ;
                        background      :linear-gradient(white,
                                                         white 10%,
                                                         #B3CECE) ;
                        cursor          :pointer                  }
.minorNote .disclosureTitle{
                        color           :grey                     }

/* Markdown-related: */
.pre, /* Monospace zones within which markdown is parsed */
/* When md generates nested tags, there's whitespace in the source.
   I don't md's whitespace to be :pre, only mine, in the innermost tag: */
.preList li, .preSubList ul li, .preSubList ol li{
  white-space:pre  ;
  font-family:monospace,monospace;
  font-size  :.92em}
.pre code, .preList code{font-size:1em}
/* ^ Using a backtick code-span inside a monspace zone, mainly for the 
character-escaping (`<span>`): don't further reduce font-size. */


