/* example 1 */
#Ex01{       position      :relative;
             white-space   :nowrap  }
#Ex01p1{     font-size     :50px    ;
             line-height   :40px    } 
/* ^ Not sure how I arrived at that, but changing it skews the markers below. */
#Ex01s1{     font-size     :100px   ;
             vertical-align:top     }
#Ex01s2{     font-family   :dj      }
#Ex01 div{   position:absolute;background:rgba(0,255,0,.5)}
#Ex01marker1{left:  0px; width: 5px; top:13px; height:35px}
#Ex01marker2{left: 32px; width: 5px; top:13px; height:25px}
#Ex01marker3{left: 66px; width:11px; top: 9px; height:68px}
#Ex01marker4{left:118px; width: 5px; top: 9px; height:47px}
#Ex01marker5{left:156px; width: 9px; top: 9px; height:38px}
#Ex01marker6{left:191px; width: 5px; top: 9px; height:29px}

#tblRaw th, #tblMetrics th{ border-bottom:.2em solid}
#tblMetrics{                margin-bottom:2em       }

#tblPO2 th{border-bottom:none}

