<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <link rel='stylesheet' type='text/css' href='/portfolio/_css.css'>
  {% for sheet in page.css %}
  <link rel='stylesheet' type='text/css' href='/portfolio/{{ sheet }}.css'>
  {% endfor %}
  <script type='text/javascript' src='/portfolio/_js1--misc.js'></script>
  <script type='text/javascript' src='/portfolio/_js2--markdown.js'></script>
  <script type='text/javascript' src='/portfolio/_js3--drag-size.js'></script>
  {% for script in page.js %}
  <link rel='stylesheet' type='text/javascript' href='/portfolio/{{ script }}.js'>
  {% endfor %}
</head>

<body>
  {{ content }}
</body>

</html>
