<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <link rel='stylesheet' type='text/css' href='/portfolio/mainCss.css'>
  {% for sheet in page.css %}
  <link rel='stylesheet' type='text/css' href='/portfolio/{{ sheet }}.css'>
  {% endfor %}
  <base target='_blank'>
</head>

<body>
  
{{ content }}
  
  <script type='text/javascript' src='/portfolio/mainJs1--misc.js'></script>
  <script type='text/javascript' src='/portfolio/mainJs2--markdown.js'></script>
  <script type='text/javascript' src='/portfolio/mainJs3--drag-size.js'></script>
  {% for script in page.js %}
  <script type='text/javascript' src='/portfolio/{{ script }}.js'></script>
  {% endfor %}
</body>

</html>
